body {
  background-color: powderblue;
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: blue;
  text-align: center;
}
blockquote {
  border: 2px solid black;
  background-color: rgba(255, 99, 71, 0.5);
}


